<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting id="inFinland" type="bool" label="32030" default="true" />
        <setting id="showClips" type="bool" label="32041" default="true" />
        <setting id="showExtraInfo" type="bool" label="32042" default="false" />
        <setting id="language" type="enum" label="32003" lvalues="32004|32005|32006" default="0" />
        <setting id="sortMethod" type="enum" label="32014" lvalues="32015|32016|32017|32018|32019|32020|32021" default="6" />
        <setting id="ascOrDesc" type="enum" label="32011" lvalues="32012|32013" default="1" />
    </category>
    <category label="32036">
        <setting type="lsep" label="32037"/>
        <setting id="appID" type="text" label="32033" default=""/>
        <setting id="appKey" type="text" label="32034" default=""/>
        <setting id="secretKey" type="text" label="32035" default=""/>
    </category>
    <category label="32043">
        <setting id="debug" type="bool" label="32002" default="false" />
        <setting id="showUnplayable" type="bool" label="32044" default="false" />
        <setting id="maxResolution" type="enum" label="32045" lvalues="32046|32047|32048|32049|32050|32051|32052" default="0" />
    </category>
</settings>
