<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting id="debug" type="bool" label="32002" default="false" />
        <setting id="language" type="enum" label="32003" lvalues="32004|32005|32006" default="0" />
        <setting id="sortMethod" type="enum" label="32014" lvalues="32015|32016|32017|32018|32019|32020|32021" default="6" />
        <setting id="ascOrDesc" type="enum" label="32011" lvalues="32012|32013" default="1" />
    </category>
</settings>